faiss==1.5.3
fastapi==0.135.2
llama_index==0.14.19
numpy==2.4.3
ollama==0.6.1
pydantic==2.12.5
python-dotenv==1.2.2
sentence_transformers==5.3.0
SQLAlchemy==2.0.48
faiss-cpu==1.5.3
fastapi==0.135.2
numpy==2.4.3
ollama==0.6.1
pydantic==2.12.5
python-dotenv==1.2.2
sentence_transformers==5.3.0
SQLAlchemy==2.0.48
uvicorn
psycopg2-binary
python-docx
llama-index-llms-ollama
llama-index-embeddings-huggingface